<div class="top-row">
  <h1 i18n>SkillGraph</h1>
</div>
<div class="button-row-top top-row" *ngIf="showGraph">
  <button
    mat-raised-button
    type="button"
    color="accent"
    class="pull-right"
    (click)="showGraph = !showGraph"
    i18n
  >
    Back
  </button>
</div>
<div class="clear-all"></div>
<mat-card *ngIf="showGraph" class="graph-card">
  <mat-card-title
    ><span i18n>Resulting graph for target skills</span
    ><i *ngFor="let rSkill of requiredSkills; let i = index"
      >{{ rSkill.skill_name }}
      <span *ngIf="i !== requiredSkills.length - 1">, </span></i
    ></mat-card-title
  >
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="content_name">
      <th mat-header-cell *matHeaderCellDef i18n>Content Title</th>
      <td mat-cell *matCellDef="let element">{{ element.content_name }}</td>
    </ng-container>

    <!-- Workload Column -->
    <ng-container matColumnDef="content_workload">
      <th mat-header-cell *matHeaderCellDef i18n>Workload</th>
      <td mat-cell *matCellDef="let element" class="workload">
        {{ element.content_workload }}
      </td>
    </ng-container>

    <!-- Req Skills Column -->
    <ng-container matColumnDef="required_skills">
      <th mat-header-cell *matHeaderCellDef i18n>Required Skills</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li
            *ngFor="let reqSkill of element.required_skills"
            [ngClass]="getTextClass(reqSkill.id)"
          >
            <mat-icon *ngIf="isCriticalSkill(reqSkill.id)" class="alarm-icon"
              >report</mat-icon
            >
            {{ reqSkill.skill_name }}
          </li>
        </ul>
      </td>
    </ng-container>

    <!-- New Skills Column -->
    <ng-container matColumnDef="new_skills">
      <th mat-header-cell *matHeaderCellDef i18n>New Skills</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let newSkill of element.new_skills">
            <a [routerLink]="['/skill', newSkill.id]">{{
              newSkill.skill_name
            }}</a>
          </li>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" i18n>No data found</td>
    </tr>
  </table>
  <ul>
    <li class="text-default" i18n>Skill marked as known by user</li>
    <li class="text-algo" i18n>Skill found by algorithm</li>
    <li i18n>
      <mat-icon class="alarm-icon">report</mat-icon> No content found for the
      given skill
    </li>
  </ul>
  <h2 i18n class="critical-header">Critical skills found</h2>
  <ul>
    <li *ngFor="let skill of skillContent.criticalSkills">
      {{ skill.skill_name }}
    </li>
  </ul>
  <h2 i18n>Total workload: {{ totalWorkload }} minutes</h2>

  <app-skill-graph-template
    [reqSkills]="requiredSkills"
    [newSkills]="newSkills"
    [title]="graphForm.get('title')?.value"
  ></app-skill-graph-template>
</mat-card>
<mat-card *ngIf="!showGraph">
  <mat-card-title i18n>Select skills</mat-card-title>
  <div class="base-form">
    <form [formGroup]="graphForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label i18n>Required skills</mat-label>
          <mat-chip-list #chipListReq aria-label="Required skills">
            <mat-chip
              *ngFor="let reqSkill of requiredSkills"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeReqSkill(reqSkill)"
            >
              {{ reqSkill.skill_name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add skill..."
              i18n-placeholder="Add skill..."
              #reqSkillInput
              formControlName="reqSkills"
              [matAutocomplete]="autoReq"
              [matChipInputFor]="chipListReq"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addReqSkill($event)"
            />
          </mat-chip-list>
          <mat-autocomplete
            #autoReq="matAutocomplete"
            (optionSelected)="selectedReqSkill($event)"
          >
            <mat-option
              *ngFor="let reqSkill of filteredReqSkills | async"
              [value]="reqSkill"
            >
              {{ reqSkill.skill_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label i18n>New skills</mat-label>
          <mat-chip-list #chipListNew aria-label="New skills">
            <mat-chip
              *ngFor="let newSkill of newSkills"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeNewSkill(newSkill)"
            >
              {{ newSkill.skill_name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add skill..."
              i18n-placeholder="Add skill..."
              #newSkillInput
              formControlName="newSkills"
              [matAutocomplete]="autoNew"
              [matChipInputFor]="chipListNew"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addNewSkill($event)"
            />
          </mat-chip-list>
          <mat-autocomplete
            #autoNew="matAutocomplete"
            (optionSelected)="selectedNewSkill($event)"
          >
            <mat-option
              *ngFor="let newSkill of filteredNewSkills | async"
              [value]="newSkill"
            >
              {{ newSkill.skill_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="standard">
          <mat-label i18n>Title</mat-label>
          <input
            matInput
            placeholder="Title"
            i18n-placeholder="Title"
            formControlName="title"
            type="text"
          />
        </mat-form-field>
      </p>

      <p class="button-row">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="pull-right"
          i18n
        >
          Show Result
        </button>
        <button
          mat-raised-button
          type="button"
          color="primary"
          class="pull-right"
          (click)="saveConfig()"
          i18n
        >
          Save
        </button>
      </p>
      <div class="clear-all"></div>
    </form>
  </div>
</mat-card>

<mat-card *ngIf="!showGraph">
  <mat-card-title i18n>Load Graph</mat-card-title>
  <div class="base-form">
    <form [formGroup]="loadGraphForm" (ngSubmit)="loadConfig()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Select Title</mat-label>
          <mat-select formControlName="loadConfig">
            <mat-option *ngFor="let config of allConfigs" [value]="config">{{
              config.title
            }}</mat-option>
          </mat-select>
          <mat-hint align="end" i18n
            >Select title to load graph configuration</mat-hint
          >
        </mat-form-field>
      </p>
      <p class="button-row">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="pull-right"
          [disabled]="!loadGraphForm.get('loadConfig')?.value"
          i18n
        >
          Load
        </button>
      </p>
      <div class="clear-all"></div>
    </form>
  </div>
</mat-card>
