<mat-card>
  <mat-card-title i18n *ngIf="!newSkill">Edit skill</mat-card-title>
  <mat-card-title i18n *ngIf="newSkill">New skill</mat-card-title>
  <div class="base-form">
    <form [formGroup]="editForm" (ngSubmit)="editSkill()">
      <p>
        <mat-form-field appearance="standard">
          <mat-label i18n>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            i18n-placeholder="Name"
            formControlName="name"
          />
          <mat-icon matSuffix>title</mat-icon>
          <mat-hint i18n>Enter name</mat-hint>
          <mat-error
            *ngIf="
              !editForm.controls['name'].valid &&
              editForm.controls['name'].dirty
            "
            i18n
            >Name must not be empty
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label i18n>Description</mat-label>
          <textarea
            matInput
            placeholder="Description"
            i18n-placeholder="Description"
            formControlName="desc"
          ></textarea>
          <mat-icon matSuffix>description</mat-icon>
          <mat-hint i18n>Enter description</mat-hint>
          <mat-error
            *ngIf="
              !editForm.controls['desc'].valid &&
              editForm.controls['desc'].dirty
            "
            i18n
            >Description must not be empty</mat-error
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label i18n>Wikidata Objects</mat-label>
          <mat-chip-list #chipListWikiData aria-label="Wikidata Objects">
            <mat-chip
              *ngFor="let keyword of skill.skill_keywords"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeWikiDataObj(keyword)"
            >
              {{ keyword.wikidata_name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add Wikidata Object..."
              i18n-placeholder="Add Wikidata Object..."
              #newSkillInput
              formControlName="wikidata"
              [matAutocomplete]="autoWiki"
              [matChipInputFor]="chipListWikiData"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addWikidataObj($event)"
            />
          </mat-chip-list>
          <mat-autocomplete
            #autoWiki="matAutocomplete"
            (optionSelected)="selectedWikiDataObj($event)"
          >
            <mat-option
              *ngFor="let newWikiObj of filteredWikiData | async"
              [value]="newWikiObj"
            >
              {{ newWikiObj.wikidata_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <p class="button-row">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!editForm.valid"
          color="primary"
          class="pull-right"
          i18n
        >
          Save
        </button>
        <button
          type="button"
          mat-raised-button
          (click)="goBack()"
          color="accent"
          class="pull-right right-margin"
          i18n
        >
          Back to list
        </button>
      </p>
      <div class="clear-all"></div>
    </form>
  </div>
</mat-card>
