@use '~@angular/material'as mat;
@use "../assets/styles/variables.scss";


.spacer {
  flex: 1 1 auto;
}

.main-footer-base {
  position: fixed;
  right: 0;
  width: 100%;
  height: 46px;
  color: mat.get-color-from-palette(variables.$primary-palette, "darker");
}

.main-footer {
  @extend .main-footer-base;
  bottom: 0;
  background-color: adjust-color(mat.get-color-from-palette(variables.$accent-palette, "lighter", $opacity: 1));
}

.main-footer-mobile {
  @extend .main-footer-base;
  bottom: 56px;
  background-color: adjust-color(mat.get-color-from-palette(variables.$accent-palette, $opacity: 1));
}

.main-footer div {
  padding: 5px;
  cursor: pointer;
  float: left;
  margin-left: 15px;
}

.main-footer-base div img {
  height: 21px;
  width: auto;
}

.mobile-footer-icon {
  position: fixed;
  right: 15px;
}
