<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Easy CCS</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      aria-label="contact button"
      [routerLink]="['/start']"
      routerLinkActive="active"
    >
      <mat-icon>email</mat-icon>
    </button>
    <button
      *ngIf="!userService.loggedIn"
      mat-icon-button
      aria-label="login button"
      [routerLink]="['/login']"
      routerLinkActive="active"
    >
      <mat-icon>login</mat-icon>
    </button>
    <button
      *ngIf="userService.loggedIn"
      mat-icon-button
      aria-label="logout button"
      (click)="userService.logout()"
      routerLinkActive="active"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="mat-body">
  <router-outlet></router-outlet>
</div>
