<mat-card>
  <mat-card-title i18n>Content detail view</mat-card-title>
  <div>
    <p i18n>Content name: {{ content.content_name }}</p>
    <p i18n>Content id: {{ content.id }}</p>
    <p i18n>Content description: {{ content.content_description }}</p>
  </div>
  <div>
    <h2 i18n>Required (input) Skills</h2>
    <ul>
      <li *ngFor="let skill of content.required_skills">
        <a [routerLink]="['/skill', skill.id]">{{ skill.skill_name }}</a>
      </li>
    </ul>
    <h2 i18n>New (output) Skills</h2>
    <ul>
      <li *ngFor="let skill of content.new_skills">
        <a [routerLink]="['/skill', skill.id]">{{ skill.skill_name }}</a>
      </li>
    </ul>
  </div>
  <p class="button-row">
    <button
      type="button"
      mat-raised-button
      (click)="goBack()"
      color="accent"
      class="pull-right right-margin"
      i18n
    >
      Back
    </button>
  </p>
  <div class="clear-all"></div>
</mat-card>
