{% extends "base_generic.html" %}
{% load pagination_extras%}

{% block content %}

<h1>{{title}}</h1>
<form method="GET" class="form-inline">
    <div class="form-group mb-2">
        <input type="text" value="{{content_filter}}" name="content_filter" class="form-control"placeholder="Filter keywords">
    </div>
    <input type="submit" value="Filter Content" class="btn btn-primary mb-2">
</form>
{% if object_list %}
<table class="table">
    <thead>
<tr>
    <th scope="col">Content title</th>
    <th scope="col">Workload</th>
    <th scope="col">Action</th>
</tr>
    </thead>
    <tbody>
{% for o in object_list %}
<tr>
    <td><a href="{% url "detailContent" o.id %}">{{ o.content_name }}</a></td>
    <td>{{ o.content_workload }} {{workload_unit}}</td>
    <td><a href="{% url "updateContent" o.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url "deleteContent" o.id %}" class="btn btn-danger">Delete</a></td>
</tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">
    No objects found
</div>
{% endif %}


{% if page_obj.paginator.num_pages > 1 %}
<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
    <a class="page-link" href="?{% update_query page=1 %}" tabindex="-1">First</a>
    </li>

    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
        <a class="page-link" href="{% if page_obj.has_previous %}?{% update_query page=page_obj.previous_page_number %}{% else %}#{% endif %}" tabindex="-1">Previous</a>
    </li>

    {% for p in page_obj.paginator.page_range %}
    <li class="page-item {% if p == page_obj.number %}active{% endif %}"><a class="page-link" href="?{% update_query page=p%}">{{ p }}</a></li>

    {% endfor %}
    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}?{% update_query page=page_obj.next_page_number %}{% else %}#{% endif %}">Next</a>
    </li>
    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
        <a class="page-link" href="?{% update_query page=page_obj.paginator.num_pages %}" tabindex="-1">Last</a>
    </li>

  </ul>
</nav>
{% endif %}


<a href="{% url "createContent" %}" class="btn btn-success">create new Content</a>

{% endblock %}
