{% extends "base_generic.html" %}

{% block content %}

<h1>{{title}}: {{object.content_name}}</h1>

<p>Object description: {{object.content_description}}</p>
<p>Database ID: {{object.id}}</p>
<p>Workload: {{object.content_workload}} {{workload_unit}}</p>

<h2>Required (input) skills</h2>

{% if object.required_skills %}
<ul>
{% for s in object.required_skills.all%}
<li><a href="{% url "detailSkill" s.id %}">{{s}}</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>New (output) skills</h2>

{% if object.new_skills %}
<ul>
{% for s in object.new_skills.all %}
<li><a href="{% url "detailSkill" s.id %}">{{s}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if object.binary_content %}
<h2>Binary lecture content</h2>
<a href="{{ object.binary_content.url }}">{{ object.binary_content }}</a>
{% endif %}



<hr class="my-4">
<p>
<a href="{% url "updateContent" object.id %}">Edit</a>
&nbsp;
<a href="{% url "deleteContent" object.id %}">Delete</a>
</p>
{% endblock %}
