{% extends "base_generic.html" %}

{% block content %}

<h1>{{title}}</h1>

{% if object_list %}
<table style="width:100%">
{% for o in object_list %}
<tr>
    <td><a href="{% url "detailContent" o.id %}">{{ o.content_name }}</a></td>
    <td><a href="{% url "updateContent" o.id %}">Edit</a></td>
    <td><a href="{% url "deleteContent" o.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% else %}
No objects
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<a href="{% url "createContent" %}">create new Content</a>

{% endblock %}
