{% extends "base_generic.html" %}

{% block content %}

<h1>{{title}}: {{object.content_name}}</h1>

<p>Object description: {{object.content_description}}</p>
<p>Database ID: {{object.id}}</p>
<p>Workload: {{object.content_workload}} {{workload_unit}}</p>

<h2>Required (input) skills</h2>

{% if object.required_skills %}
<ul>
{% for s in object.required_skills.all%}
<li><a href="{% url "detailSkill" s.id %}">{{s}}</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>New (output) skills</h2>

{% if object.new_skills %}
<ul>
{% for s in object.new_skills.all %}
<li><a href="{% url "detailSkill" s.id %}">{{s}}</a></li>
{% endfor %}
</ul>
{% endif %}


{% if object.content_keywords.all %}
<h2>General Keywords</h2>
<ul>
{% for k in object.content_keywords.all %}
<li>{{k}}</li>
{% endfor %}
</ul>
{% endif %}



{% if object.binary_content or object.url_content %}
<h2>Lecture content</h2>
<ul>
{% if object.binary_content %}
<li><a href="{{ object.binary_content.url }}">{{ object.binary_content }}</a></li>
{% endif %}

{% if object.url_content %}
<li><a href="{{ object.url_content }}" target="_blank">{{ object.url_content }}</a></li>
{% endif %}

</ul>
{% endif %}

<h2>Administrative data</h2>
<ul>
    <li>Created: {{ object.created }}</li>
    <li>Last update: {{ object.updated }} </li>
    {% if object.added_by %}
    <li>Added by: {{ object.added_by.get_full_name|default:object.added_by.username }}</li>
    {% endif %}
</ul>


<hr class="my-4">
{% if perms.content.content_manager %}
<p>
<a href="{% url "updateContent" object.id %}" class="btn btn-primary">Edit</a>
&nbsp;
<a href="{% url "deleteContent" object.id %}" class="btn btn-danger">Delete</a>
</p>
{% endif %}
{% endblock %}
