{% extends "base_generic.html" %}
{% load pagination_extras%}

{% block content %}

<h1>{{title}}</h1>

{% if object_list %}
<table class="table">
    <thead>
        <tr>
            <th>Keyword name</th>
            <th>Related wikidata items</th>

        </tr>
    </thead>
    <tbody>
{% for o in object_list %}
<tr>
    <td>{{o.keyword_name}}</td>
    <td>
        {% for wd in o.keyword_related_wikidata.all %}
        <a href="{{ wd.getWikidataUrl }}" target="_blank">{{wd}}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
        No related wikidata entries for this keyword.
        {% endfor %}

    </td>
</tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">
    No objects found
</div>
{% endif %}


{% if page_obj.paginator.num_pages > 1 %}
<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
    <a class="page-link" href="?{% update_query page=1 %}" tabindex="-1">First</a>
    </li>

    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
        <a class="page-link" href="{% if page_obj.has_previous %}?{% update_query page=page_obj.previous_page_number %}{% else %}#{% endif %}" tabindex="-1">Previous</a>
    </li>

    {% for p in page_obj.paginator.page_range %}
    <li class="page-item {% if p == page_obj.number %}active{% endif %}"><a class="page-link" href="?{% update_query page=p%}">{{ p }}</a></li>

    {% endfor %}
    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}?{% update_query page=page_obj.next_page_number %}{% else %}#{% endif %}">Next</a>
    </li>
    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
        <a class="page-link" href="?{% update_query page=page_obj.paginator.num_pages %}" tabindex="-1">Last</a>
    </li>

  </ul>
</nav>
{% endif %}

{% endblock %}
