{% extends "base_generic.html" %}

{% block content %}

<h1>{{ heading }}</h1>
<p>
{{ infotext }}
<p>

<form method="post">
    {% csrf_token %}

    {% if form.non_form_errors %}
    <span class="error text-danger">
        {% for error in form.non_form_errors %}
        {{ error }}
        {% endfor %}
    </span>
    {% endif %}


    <table class="table">
        <tbody>
        {% for field in form %}
        <tr>
            <td>{{field.label}}</td><td>{{field}} <small class="form-text text-muted">{{field.help_text}}</small></td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}
