{% extends "base_generic.html" %}

{% block content %}

<h1>{{title}}</h1>

<p>Object name: {{object.module_name}}</p>
<p>Description: {{object.module_description}}</p>

<p>Database ID: {{object.id}}</p>

<h2>Content objects included in this module</h2>
{%if object.module_content_modules %}
<ul>
{% for m in object.module_content_modules.all %}
<li><a href="{% url "detailContent" m.id %}">{{ m.content_name }}</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>Required (input) skills</h2>

{% if object.required_skills %}
<ul>
{% for s in object.required_skills%}
<li><a href="{% url "detailSkill" s.id %}">{{s}}</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>New (output) skills</h2>

{% if object.new_skills %}
<ul>
{% for s in object.new_skills%}
<li><a href="{% url "detailSkill" s.id %}">{{s}}</a></li>
{% endfor %}
</ul>
{% endif %}


<h2>Workload</h2>
{{object.get_workload}} {{workload_unit}}

<hr class="my-4">
<p>
<a href="{% url "updateModule" object.id %}">Edit</a>
&nbsp;
<a href="{% url "deleteModule" object.id %}">Delete</a>
</p>
{% endblock %}
