{% extends "base_generic.html" %}

{% block content %}
<h1>Content modules to get skill <i> {{ skill }} </i> </h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

 <table style="width:100%">
  <tr>
    <th>Content</th>
    <th>Content level</th>
    <th>Required Skills</th>
    <th>New Skills</th>
  </tr>
  {% for content in contents %}
  <tr>
      <td>{{ content.content.contentName}}</td>
      <td>{{ content.level }}</td>
      <td>
          {% if content.content.requiredSkills.all %}
          <ul>
              {% for req in content.content.requiredSkills.all %}
              <li> {{ req.skillName }}</li>
              {% endfor %}
          </ul>
          {% else %}
             No skill required
          {% endif %}
      </td>
      <td><ul>
              {% for req in content.content.newSkills.all %}
              <li> {{ req.skillName }}</li>
              {% endfor %}
      </ul></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
