{% extends "base_generic.html" %}

{% block content %}

<h1 class="display-3">easyCCS Account Request</h1>
<p>Our <i>easy Content Curation System</i> (easyCCS) is currently in a closed beta test. Using this form, you can request a demo account.</p>

<form action="{% url 'request_access' %}" method="post">
    {% csrf_token %}

    {% if form.non_form_errors %}
    <span class="error text-danger">
        {% for error in form.non_form_errors %}
        {{ error }}
        {% endfor %}
    </span>
    {% endif %}


    <table class="table">
        <tbody>
        {% for field in form %}
        <tr>
            <td>{{field.label}}</td><td>{{field}} <small class="form-text text-muted">{{field.help_text}}</small></td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}
