{% extends "base_generic.html" %}

{% if jsonSkills %}
{% block add_head %}
{% include "content/d3-head.html" %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

{% endblock %}
{% endif %}

{% block content %}
<h1>SkillGraph</h1>

{% if requiredContents %}
<h2>Resulting graph for target skill{% if targetSkills|length > 1 %}s{%endif%}
    {% for skill in targetSkills %}
        <i>{{skill.skill_name}}</i>
        {% if forloop.last %}
        {% else %}
        , 
        {% endif %}
    {% endfor %}

</h2>


<table class="table">
  <tr>
    <th>Content</th>
    <th>Workload</th>
    <th>Required Skills</th>
    <th>New Skills</th>
  </tr>

{% for content in requiredContents %}
  <tr>
      <td><a href="{% url "detailContent" content.id %}">{{ content.content.content_name}}</a></td>
      <td>{{ content.content.content_workload }} {{workload_unit}}
      <td>
          {% if content.content.required_skills.all %}
          <ul>
              {% for req in content.content.required_skills.all %}
              <li  {% if req.id in knownSkills %} class="text-secondary" {% else %} class="text-success" {% endif %}>{% if req in criticalSkills %}&#10060;{% endif %} {{ req.skill_name }} </li>
              {% endfor %}
          </ul>
          {% else %}
             No skill required
          {% endif %}
      </td>
      <td><ul>
              {% for new in content.content.new_skills.all %}
              <li> <a href="{% url "detailSkill" new.id %}">{{ new.skill_name }}</a></li>
              {% endfor %}
      </ul></td>
  </tr>

{% endfor %}

 </table>
 <ul>
     <li class="text-secondary">Skill marked as known by user</li>
     <li class="text-success">Skill found by algorithm</li>
     <li>&#10060; No content found for the given skill</li>
 </ul>

 <hr>

 {% if criticalSkills %}
 <h3 class="text-danger"> Critical skills found</h3>
 The following skills are required but no corresponding content was found:
 <ul>
     {% for cs in criticalSkills %}
     <li>{{cs}}</li>
     {% endfor %}
 </ul>
 {% endif %}

 {% if workload %}
 <h3>Workload</h3>
 {{ workload }} {{workload_unit}}
 {% endif %}

 {% if jsonSkills %}
 <script>
     var levels = {{ jsonSkills|safe }};
{% include "content/subtemplate-graph.html" %}

 </script>
 <span id="graph"></div>
 <script>createGraph();</script>
 {% endif %}

{% else %}
<p>No content modules found</p>
{% endif %}

<hr>
<h2>Select skills</h2>

<form action="" method="post">

    {% csrf_token %}

    {{form.as_p}}

    <input type="submit" value="Submit" name="submit_data" class="btn btn-primary">
    {% if requiredContents %}
    <input type="submit" value="Save" name="store_data" class="btn btn-secondary">
    {% endif %}

</form>
<hr />
<h2>Load Graph</h2>
<form action="" method="post">

    {% csrf_token %}

    {{load_form.as_p}}

    <input type="submit" value="Load Data" name="load_data" class="btn btn-primary">

</form>



{% endblock %}
