<h1>easyCCS</h1>
<p>
  Creating new lectures and aligning the contents to the students and their
  knowledge can be a challenging work for all levels of education: Knowledge
  dependencies between the different blocks of lectures are not always visible.
  The problem increases if content from third parties like colleagues or from
  the Internet is being used. The content curation tool described in this poster
  aims on this challenge and offers a way of automatic, skill-based lecture
  creation and dependency management. The objective is that the lecturer can
  enter the required skills as well as the type of teaching materials and the
  system will generate a complete course from available contents.
</p>

<p>
  <i>easyCCS</i> - the easy content curation system aims on this challenge and
  allows an easy management of lecturing content. Stay tuned for additional
  information!
</p>

<p>
  This work is presented as a poster on the
  <a href="https://sigcse2021.sigcse.org/" target="_blank"
    >52nd ACM Technical Symposium on Computer Science Education (SIGCSE)</a
  >. The abstract can be found here:
  <a href="https://dl.acm.org/doi/10.1145/3408877.3439601" target="_blank"
    >Automatic Content Curation for Online Learning Materials</a
  >.
</p>
