.mat-expansion-panel-header-title {
  width: 200px;
}

.mat-expansion-panel .mat-form-field {
  min-width: 80%;
  max-width: 100%;
  margin-right: 15px;
}

.trash-icon {
  position: absolute;
  right: 15px;
}
