/* You can add global styles to this file, and also import other style files */

/** Overwrite default typography of Angular Material theme **/
@use '~@angular/material'as mat;

$app-typography: mat.define-typography-config($body-1: mat.define-typography-level(16px, 20px, 400),
  $input: mat.define-typography-level(16px, 1.25, 400));

@include mat.core($app-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/** GENERAL **/
.basic-form {
  margin: 0 auto;
  min-width: 300px;
  width: 60%;
}

.basic-form-footer {
  text-align: right;
}

.basic-form .mat-form-field-infix {
  min-width: 300px;
}

.mat-form-field {
  min-width: 100%;
}
