{% extends "base_generic.html" %}

{% block content %}
  {% if form.email.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.email.errors }}
    </div>
  {% endif %}

  <form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
      <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
      <input type="text" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}">
  <button type="submit" class="btn btn-primary">Reset</button>
  </div>
  </form>
{% endblock %}
