svg {
  vertical-align: middle;
  overflow: hidden;
}

::ng-deep text {
  // font-family: sans-serif;
  font-size: 10px;
}

::ng-deep .blackText {
  stroke: black;
  stroke-width: 0.8;
}

::ng-deep .whiteText {
  stroke: white;
  stroke-width: 1.5;
}

.svgMain {
  padding: 5px;
  fill: none;
}

::ng-deep .node {
  stroke-linecap: round;
}

::ng-deep .link-ex {
  fill: none;
}
