<mat-card>
  <mat-card-title i18n>Legal Notice</mat-card-title>
  <h2 i18n>Address:</h2>
  <p>
    Universität Bremen<br />
    Bibliothekstraße 1<br />
    28359 Bremen
  </p>

  <p><span i18n>Telephone</span>: +49 421 218-1</p>

  <h2 i18n>Legal Form</h2>
  <p i18n>
    The University of Bremen is a corporation under public law, officially
    represented by its President Prof. Dr.-Ing. Bernd Scholz-Reiter.<br />
    The responsible supervisory authority is Bremen’s Senator for Science and
    Ports, Katharinenstraße 37, 28195 Bremen.
  </p>

  <h2 i18n>German VAT ID</h2>
  <p i18n>DE 811 245 070 (pursuant § 27 a UStG)</p>

  <h2 i18n>Online-Redaktion</h2>
  <p>
    <span i18n> Press and Communcations OfficeUniversität Bremen</span><br />
    Bibliothekstraße 1 28359 Bremen E-Mail: webuni-bremen.de
  </p>

  <h2 i18n>Data Privacy</h2>
  <p i18n>
    <a href="https://www.uni-bremen.de/datenschutzerklaerung" target="_blank">
      Notes on data privacy
    </a>
  </p>

  <h2 i18n>Disclaimer</h2>
  <p i18n>
    <a
      href="https://www.uni-bremen.de/datenschutzerklaerung/haftungsausschluss"
      target="_blank"
    >
      Notes on disclaimer
    </a>
  </p>

  <h2 i18n>University of Bremen Data Processing Policy</h2>
  <p i18n>
    <a
      href="https://www.uni-bremen.de/datenschutzerklaerung/benutzungsordnung"
      target="_blank"
      >Notes on University of Bremen Data Processing Policy
    </a>
  </p>
</mat-card>
